body {
    background-color: #E5E5E5;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 30%;

}
#muheco{
 
    width: 336px;
    height: 304px;
  
}
.textarea-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.conteiner-aux{
    background-color: white;
    border-radius: 32px;
    padding: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    max-height: 944px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-msjEncrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.container-sinMsjEncrip{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 30px;
}
p{
    text-align: center;
}
#mensajeEncrip{
    height: 500px;
    width: 200px;
    border: none;
    resize: none;
}